body {
    background-color: #ffd6ec;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #ff4fa3;
    font-size: 45px;
    text-shadow: 2px 2px white;
}

button {
    background-color: #ff7ac8;
    color: white;
    border: 3px solid white;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 15px #ff4fa3;
}

button:hover {
    background-color: #ff4fa3;
}

#output {
    margin-top: 30px;
    font-size: 28px;
    color: #c91875;
    background-color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
}
